.container
    .hero-unit
        .centex
            h1 Oh $#!*.
            h2 Something went wrong.
            br
            iframe.youtube-player(type="text/html", width="600", height="385", src="http://www.youtube.com/embed/nP8UXGX4XhE?autoplay=1&controls=0", frameborder="0")