.container
  .hero-unit
    if failed
      .centex
        .alert.alert-error
          | Email/password were incorrect. Try again?
    form#form.form-horizontal(action="", method="POST")
      legend Log in
      .control-group
        .control-label email
        .controls
          input(type="text", name="email", value=email)
      .control-group
        .control-label password
        .controls
          input(type="password", name="password")
      br
      input#go.btn.btn-success.btn-large.pull-right(type="submit", value="OPEN SESAME!")
      a.btn.btn-info.pull-left(href="/up") Need an account?
      br
      br
      a.btn.btn-inverse.pull-left Dog ate your password?

:coffeescript
  go = $("#go")
  form = $("#form")

  go.click (submit) ->
    go.val("Opening...")
    go.prop('disabled', true)
    form.submit()