.container
  .hero-unit
    form.form-horizontal
      .control-group
        .control-label e-mail
        .controls
          .input-append
              input(type="text", placeholder="johnharvard")
              span.add-on @fas.harvard.edu
      .control-group
        .control-label password
        .controls
          input(type="password")
      br
      a.btn.btn-inverse.pull-left Dog ate your password?
      submit.btn.btn-success.pull-right OPEN SESAME!