.container
  .hero-unit
    form.form-horizontal
      legend Log in
      .control-group
        .control-label e-mail
        .controls
          .input-append
              input(type="text", placeholder="johnharvard")
              span.add-on @fas.harvard.edu
      .control-group
        .control-label password
        .controls
          input(type="password")
      br
      submit.btn.btn-success.btn-large.pull-right OPEN SESAME!
      a.btn.btn-info.pull-left(href="/up") Need an account?
      br
      br
      a.btn.btn-inverse.pull-left Dog ate your password?
