.container
  .hero-unit.centex
    h1 The SSocial Network.
    p "You need a Harvard ID to sign up" ;)
    p
      a.btn.btn-large.btn-info.btn-spaced(href="/up") Sign up
      a.btn.btn-large.btn-success.btn-spaced(href="/in") Sign in