!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="The New SSocial Network")
    meta(name="author", content="Avi Romanoff")
    title Veritas
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    link(rel="shortcut icon", href="/img/favicon.ico")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Happy+Monkey')
    link(rel='stylesheet', href='/css/bootstrap.superhero.min.css')
    //- link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    // TODO: Google Analytics

  body
    .navbar
      .navbar-inner
        .container
          //- TODO: logo
          //- img.block-icon(src="/img/veritas.jpg")
          .centex
            a.brand.brand-custom(href="/") &laquo; VERITAS &raquo;
            if appmode
              ul.nav.pull-left
                li.nav-link
                  a(href="/lounge") the lounge
                li.nav-link
                  a(href="/profile") profile
                li.nav-link
                  a(href="/out") log out
            ul.nav.pull-right
              li.nav-link
                a(href="/what") what?
              li.nav-link
                a(href="/who") who?
                        
    script(src='/js/lib/jquery.js')
    script(src='/js/lib/jquery-ui.min.js')
    script(src='/js/lib/bootstrap.js')
    if appmode
      // Libraries
      //- script(src='/socket.io/socket.io.js')
      //- script(src='/js/lib/moment.js')
      //- script(src='/js/lib/keymaster.js')
      //- script(src='/js/lib/underscore.js')
      //- script(src='/js/lib/backbone.js')
      //- script(src='/js/lib/backbone-relational.js')
      //- script(src='/js/lib/backbone-query.js')
      //- script(src='/js/lib/backbone-iobind.js')
      //- script(src='/js/lib/backbone-iosync.js')
      //- script(src='/js/lib/handlebars.runtime.js')
      //- script(src='/js/templates.min.js')
    !{body}
    include footer