!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="The New SSocial Network")
    meta(name="author", content="Avi Romanoff")
    title VERITAS
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    // TODO: A "V" as an icon.
    //- link(rel="shortcut icon", type="img/png", href="/img/glyph/zap.png")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Happy+Monkey')
    link(rel='stylesheet', href='/css/bootstrap.superhero.min.css')
    //- link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    // TODO: Google Analytics

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          //- TODO: logo
          //- img.block-icon(src="/img/veritas.jpg")
          .centex
            a.brand.brand-custom(href="/") VERITAS
            ul.nav.pull-right
              li.nav-link
                a(href="/what") what?
              li.nav-link
                a(href="/help") who?
                        
    script(src='/js/lib/jquery.js')
    script(src='/js/lib/jquery-ui.min.js')
    script(src='/js/lib/bootstrap.js')
    script(src='/js/lib/bootstrap-datepicker.js')
    script(src='/js/lib/bootstrap-datepicker-static.js')
    //- if appmode
    //-   // Libraries
    //-   //- script(src='/socket.io/socket.io.js')
    //-   //- script(src='/js/lib/moment.js')
    //-   //- script(src='/js/lib/keymaster.js')
    //-   //- script(src='/js/lib/underscore.js')
    //-   //- script(src='/js/lib/backbone.js')
    //-   //- script(src='/js/lib/backbone-relational.js')
    //-   //- script(src='/js/lib/backbone-query.js')
    //-   //- script(src='/js/lib/backbone-iobind.js')
    //-   //- script(src='/js/lib/backbone-iosync.js')
    //-   //- script(src='/js/lib/handlebars.runtime.js')
    //-   //- script(src='/js/templates.min.js')
    !{body}
    include footer