.container-fluid
  .row-fluid
    .span3.groups-span
      ul#groups.nav.nav-list
    .span6.main-span
      #finder(style="display: none")
      #group(style="display: none")
    .span3.people-span
      ul#people.nav.nav-list

script(src='/js/routes.js')
script(src='/js/models.js')
script(src='/js/views.js')
script
  window.router = new Router()
  window.socket = io.connect()

  window.groups = new Groups(!{groups_bootstrap});

  window.app = new AppView()
  window.app.updatePersonList(!{online})

  Backbone.history.start({
    pushState: true,
    root: "/lounge/"
  })