.container-fluid
  .row-fluid
    .span3.groups-span.ellipsis
      ul#groups.nav.nav-list
    .span6.main-span
      #welcome
        h1 You're in.
        br
        br
        img.successkid(src="/img/success.png")
        h2 Click on a group in the sidebar to the left.
        br
      #group(style="display: none; margin-top:10px")
        .inner
        br
        input#chat-input(type="text", autofocus, placeholder="Write something...")
    .span3.people-span
      ul#people.nav.nav-list

script(src='/js/routes.js')
script(src='/js/models.js')
script(src='/js/views.js')
script
  document.title = "The Lounge"
  window.router = new Router()
  window.socket = io.connect()

  window.groups = new Groups(!{groups_bootstrap});

  window.app = new AppView()
  
  Backbone.history.start({
    pushState: true,
    root: "/lounge/"
  })