.container
  .hero-unit
    form.form-horizontal
      legend Sign up
      .control-group
        .control-label e-mail
        .controls
          .input-append
            input(type="text", placeholder="johnharvard")
            span.add-on @fas.harvard.edu
          span.help-block you need one of these
      .control-group
        .control-label password
        .controls
          input(type="password")
          span.help-block make it good
      .control-group
        .control-label password (again)
        .controls
          input(type="password")
          span.help-block in case you're stupid
      .control-group
        .control-label dorm
        .controls
          select
            option Canaday
            option Claverly
            option Hollis
            option Hurlbut
            option Lionel
            option Mower
            option Pennypacker
            option Stoughton
            option Straus
            option Thayer
            option Wigglesworth
          span.help-block REPRESENT!
      .control-group
        .control-label i promise to only use my powers for good
        .controls
          input(type="checkbox")
          p.help-block veritas is built on honesty and respect.
            | please don't be "that guy" (or girl).
      br
      submit.btn.btn-success.pull-right Goooooooo!