.container
  .hero-unit
    form#supform.form-horizontal(action="", method="POST")
      legend Sign up
      if failed
        p(style="color:red")
          | Hmm, couldn't create your account.
          | Try again or contact Avi.
        br
      .control-group
        .control-label username
        .controls
          input#username(type="text", name="username", value=username)
          span.help-block
      .control-group
        .control-label Harvard ID
        .controls
          input#hid(type="text", name="hid", value=hid)
          span.help-block
      .control-group
        .control-label password
        .controls
          input#pw1(type="password", name="password1")
          span.help-block
      .control-group
        .control-label password (again)
        .controls
          input#pw2(type="password",  name="password2")
          span.help-block
      .control-group
        .control-label dorm
        .controls
          select(name="dorm")
            each _dorm in dorms
              if dorm == _dorm
                option(selected="selected") #{_dorm}
              else
                option #{_dorm}
          span.help-block
      .control-group
        .control-label do you have ovaries?
        .controls
          if ovaries
            input(type="checkbox", name="ovaries", checked)
          else 
            input(type="checkbox", name="ovaries")
          span.help-block
          br
          i
            small you should probably check this if you're a girl
      .control-group
        .control-label i promise to only use my powers for good
        .controls
          if notevil
            input#notevil(type="checkbox", name="notevil", checked)
          else 
            input#notevil(type="checkbox", name="notevil")
          span.help-block
          br
          i
            small
              | veritas is built on honesty and respect.
              | please don't be "that guy" (or girl).
      br
      input#go.btn.btn-success.pull-right(type="submit", value="Goooooooo!")

:coffeescript
  supform = $("#supform")
  hid = $("#hid")
  username = $("#username")
  pw1 = $("#pw1")
  pw2 = $("#pw2")
  go = $("#go")
  notevil = $("#notevil")


  bitch = (e, message) ->
    $e = $(e)
    $e.parent().parent().addClass "error"
    $e.siblings(".help-block").text message
    return false

  chill = (e) ->
    $e = $(e)
    $e.parent().parent().removeClass "error"
    $e.siblings(".help-block").text ''
    return true

  validate = () ->
    # username
    if not username.val()
      return bitch username, "username can't be blank"
    else if " " in username.val()
      return bitch username, "username can't contain spaces"
    else
      len = username.val().length 
      if len < 5 or len > 18
        return bitch username, "username must be between 5 and 18 characters"
      else
        $.post "/username", username: username.val(), (data) ->
          if data is "OK"
            chill username
          else
            return bitch username, "username already taken"

    # HID
    if not hid.val()
      return bitch hid, "Harvard ID can't be blank"
    else
      $.post "/validate", hid: hid.val(), (data) ->
        if data is "OK"
          chill hid
        else
          return bitch hid, "invalid Harvard ID"
      chill hid

    # PW1
    if not pw1.val()
        return bitch pw1, "password can't be blank"
    else
      if pw1.val().length <= 5
        return bitch pw1, "password must be > 5 characters"
      else
        chill pw1

    # PW2
    if pw1.val() isnt pw2.val()
      return bitch pw2, "password didn't match"
    else
      chill pw2

    #notevil
    if notevil.is ":checked"
      chill notevil
    else
      return bitch notevil, "come on dude, seriously?"

  $("input").focusout () ->
    validate()

  go.click (e) ->
    unless validate()
      return false