.content
  .hero-unit
    form#supform.form-horizontal(action="", method="POST")
      legend Sign up
      if failed
        p(style="color:red")
          | Hmm, couldn't create your account.
          | Try again or contact Avi.
        br
      .control-group
        .control-label username
        .controls
          input#username(type="text", name="username", value=username)
          span.help-block
      .control-group
        .control-label Harvard ID
        .controls
          input#hid(type="text", name="hid", value=hid)
          span.help-block
      .control-group
        .control-label password
        .controls
          input#pw1(type="password", name="password1")
          span.help-block
      .control-group
        .control-label password (again)
        .controls
          input#pw2(type="password",  name="password2")
          span.help-block
      .control-group
        .control-label dorm
        .controls
          select(name="dorm")
            each _dorm in dorms
              if dorm == _dorm
                option(selected="selected") #{_dorm}
              else
                option #{_dorm}
          span.help-block
      .control-group
        .control-label i promise to only use my powers for good
        .controls
          if notevil
            input#notevil(type="checkbox", name="notevil", checked)
          else 
            input#notevil(type="checkbox", name="notevil")
          span.help-block
          br
          i
            small
              | veritas is built on honesty and respect.
              | please don't be "that guy" (or girl).
      br
      input#go.btn.btn-success.pull-right(type="submit", value="Goooooooo!", disabled)

:coffeescript
  supform = $("#supform")
  hid = $("#hid")
  username = $("#username")
  pw1 = $("#pw1")
  pw2 = $("#pw2")
  go = $("#go")
  notevil = $("#notevil")

  bitch = (e, message) ->
    $e = $(e)
    $e.parent().parent().addClass "error"
    $e.siblings(".help-block").text message
    go.prop('disabled', true)

  chill = (e) ->
    $e = $(e)
    $e.parent().parent().removeClass "error"
    $e.siblings(".help-block").text ''
    enableIfKosher()

  enableIfKosher = () ->
    len = username.val().length 
    return unless pw1.val().length > 5
    return unless pw1.val() is pw2.val()
    return unless len > 5 and len < 18
    return unless " " not in username.val()
    return unless hid.val()
    return unless notevil.is ":checked"
    $.post "/validate", hid: hid.val(), (data) ->
      return unless data is "OK"
    $.post "/username", username: username.val(), (data) ->
      return unless data is "OK"
    go.prop 'disabled', false

  hid.blur (e) ->
    enableIfKosher()
    if not hid.val()
      bitch e.target, "Harvard ID can't be blank"
    else
      $.post "/validate", hid: hid.val(), (data) ->
        if data is "OK"
          chill e.target
        else
          bitch e.target, "invalid Harvard ID"
      chill e.target

  username.blur (e) ->
    enableIfKosher()
    if not username.val()
      bitch e.target, "username can't be blank"
    else if " " in username.val()
      bitch e.target, "username can't contain spaces"
    else
      len = username.val().length 
      if len < 5 or len > 18
        bitch e.target, "username must be between 5 and 18 characters"
      else
        $.post "/username", username: username.val(), (data) ->
          if data is "OK"
            chill e.target
          else
            bitch e.target, "username already taken"

  pw1.blur (e) ->
    enableIfKosher()
    if not pw1.val()
      bitch e.target, "password can't be blank"
    else
      if pw1.val().length <= 5
        bitch e.target, "password must be > 5 characters"
      else
        chill e.target

  pw2.blur (e) ->
    enableIfKosher()
    if pw1.val() isnt pw2.val()
      bitch e.target, "password didn't match"
    else
      chill e.target

  notevil.click (e) ->
    enableIfKosher()
    if notevil.is ":checked"
      chill e.target
    else
      bitch e.target, "come on dude, seriously?"

  go.click (e) ->
    go.val "Going..."
    go.prop 'disabled', true
    supform.submit()