.container
  .hero-unit
    h2 Meet the SSP Social Network.
    br
    h3 It's cool because:
    ul
      li you can hang out with your classmates
      li you'll meet new people
      li you're free to get and give help
      li you can chill out maxin' relaxin' all cool
    br
    h3 It's different because:
    ul
        li it's just for Harvard SSP students
        li it's not littered with ads and spam
        li it's about making new friends, not just talking with old ones
        li it's cooler than the other side of a pillow
    br
    :markdown
      _Veritas_ means "truth" in Latin. It's the motto of Harvard, and the 
      foundation of this site. It makes for a fun, honest, and respectful
      social network as diverse as the students it represents.
    br
    a.btn.btn-info.btn-large(href="/up") Sounds cool. Let me in!