.container
  .hero-unit.centex
    h2 Veritas is written by a guy.
    br
    h3 Who happens to be named Avi.
    br
    h4 And likes listening to music.
    br
    h4 And living in Thayer Hall.
    br
    h5 (And programming).
    br
    h3
      | You can send him a love note 
      a(href="mailto:aviromanoff@gmail.com") by clicking here
      | .
