<input id="thebox" type="text" autofocus="autofocus" placeholder="What floats your boat?" class="input-xlarge search-query"/>
<br/>
<br/>
<br/>
<div id="results">
    Start typing to find things you're into.
    <br><br>
    Like swimming, hiphop, or comparative politics.
</div>