<span>Hmm, looks like nobody else is talking about <i>{{name}}</i> yet.</span>
<br>
<br>
<span>Wanna get the ball rolling?</span>
<br>
<br>
<button class="btn btn-primary create-group" data-name="{{name}}">Be a trendsetter</button>