<span>Sorry, looks like nobody else gives a shit about <i>{{name}}</i>.</span>
<br>
<br>
<span>Wanna get the ball rolling?</span>
<br>
<br>
<button class="btn btn-primary create-group" data-name="{{name}}">Click here to be a trendsetter</button>