<ul class="nav nav-list">
  <li class="nav-header">» online «</li>
  {{#unless people}}
    <i>Nobody's online :(</i>
  {{/unless}}
  {{#each people}}
    <li>
      <a href="/people/{{this}}"> {{this}}</a>
    </li>
  {{/each}}
</ul>