<ul class="nav nav-list">
  <li class="nav-header">» groups «</li>
    <li>
      <a href="/find/groups" data-route class="btn btn-mini btn-info btn-sidebar">Find groups</a>
      <a href="/create-group" data-route class="btn btn-mini btn-success btn-sidebar">Create group</a>
    </li>
  {{#unless groups}}
    <i>No groups :(</i>
  {{/unless}}
  {{#each groups}}
    <li>
      <a href="/groups/{{_id}}" data-route>
        {{#if unread}}
          <span class="badge badge-important">{{unread}}</span>
        {{/if}}
        {{name}}
      </a>
    </li>
  {{/each}}
</ul>