<ul class="nav nav-list">
  <li class="nav-header">» people «</li>
    <li>
      <a href="/find/people" data-route class="btn btn-mini btn-info btn-sidebar">Find people</a>
    </li>
  {{#unless people}}
    <i>Nobody's online :(</i>
  {{/unless}}
  {{#each people}}
    <li>
      <a href="/people/{{this}}"> {{this}}</a>
    </li>
  {{/each}}
</ul>