<ul class="nav nav-list">
  <li class="nav-header">» groups «</li>
  {{#unless groups}}
    <i>No groups :(</i>
  {{/unless}}
  {{#each groups}}
    <li>
      <a class="ellipsis" href="/groups/{{_id}}" data-route>
        {{#if unread}}
          <span class="badge badge-important">{{unread}}</span>
        {{/if}}
        {{name}}
      </a>
    </li>
  {{/each}}
</ul>